@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap);
button {
  padding: 0.5rem 1rem;
  background-color: #5b135a;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

header {
  grid-area: header;
  padding-top: 20px;
}

nav {
  max-height: 300px;
}

.icono-name {
  color: #fff;
}

.enlace {
  position: absolute;
  padding: 50px 40px;
  display: flex;
}

.logo {
  height: 50px;
  color: #fff;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 150px;
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

li a.active, li a:hover {
  background: rgba(33, 7, 30, 0.9);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

footer {
  width: 100%;
  height: 100%;
  grid-area: footer;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
footer .metodos-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  justify-content: space-around;
  margin: auto;
}
footer .metodos-pago img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(113deg) brightness(115%) contrast(103%);
}
footer .metodos-pago #icono-bitcoin {
  width: 27px;
  height: 27px;
}
footer .derechos-redes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-row: 2;
  grid-column: 1;
}
footer .derechos-redes .derechos {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 1em;
}
footer .derechos-redes .redes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
footer .derechos-redes .redes img {
  width: 30px;
  height: 30px;
  margin-left: 0.7rem;
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(113deg) brightness(115%) contrast(103%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
* body {
  margin: 0;
  padding: 0;
  display: flex;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px auto 160px;
  grid-template-areas: "header header header header header header" "main main main main main main" "footer footer footer footer footer footer";
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url(../imagenes/mapavalorant.jpg);
  background-size: cover;
  background-position-y: 45%;
  align-items: center;
}

main {
  width: 100%;
  grid-area: main;
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
}

.sobre-nosotros {
  grid-area: sobreNosotros;
  padding: 60px;
  height: 300px;
  margin-bottom: 2em;
}
.sobre-nosotros h1 {
  text-align: start;
  font-size: 3em;
  color: #fff;
}
.sobre-nosotros h2 {
  font-size: 1.6em;
  padding-top: 7px;
  color: #fff;
}

.elegirnos {
  font-size: 23px;
  grid-area: elegirnos-titulo/1/elegirnos-cuerpo/-1;
}
.elegirnos .elegirnos h2 {
  grid-area: elegirnos-titulo;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #fff;
}

.cuerpo-elegirnos {
  display: flex;
  justify-content: space-around;
  grid-area: elegirnos-cuerpo;
  margin-left: 30px;
  margin-right: 30px;
  color: #fff;
}
.cuerpo-elegirnos .item-elegirnos {
  text-align: center;
  transition: transform 0.3s ease;
}
.cuerpo-elegirnos .item-elegirnos img {
  margin-top: 2.5em;
  margin-bottom: 0.7em;
  width: 70px;
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(113deg) brightness(115%) contrast(103%);
}

.item-elegirnos:hover {
  transform: scale(1.1);
}

.main-container {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 2%;
}

.text-center {
  color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}

.container-fluid {
  display: flex;
  position: relative;
  width: 87%;
  background-image: url(../imagenes/jett.jpg);
  background-size: cover;
  background-position: 70% 0%;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 15px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 30px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card-img-top {
  margin-top: 60px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.card-body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.card-title {
  margin-top: 10px;
  font-size: 1.8em;
  color: #fff;
}

.small-image {
  margin-top: 60px;
  max-width: 200px;
  max-height: 90px;
  margin-bottom: 60px;
}

.card-text {
  font-size: 14px;
}

.contacto-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-image: url(../imagenes/jett3.jpg);
  background-size: cover;
  background-position: 0% 20%;
}

.info-contacto {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.enlaces-utiles {
  padding: 20px;
  text-align: start;
}

.titulo-enlaces {
  margin-bottom: 20px;
}

.link {
  color: white;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}

.titulo-contacto {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.formulario-contacto {
  flex-basis: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 9px;
}

.campo {
  margin-bottom: 1rem;
  color: white;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subtitulo-contacto {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: start;
}

.subtitulo-contacto2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: start;
  color: white;
}

.eloboost-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  text-align: center;
  background-image: url(../imagenes/omen.png.jpg);
  background-position: 34% 5%;
  width: auto;
  border-radius: 3em;
}

.titulo {
  font-size: 2.5rem;
  color: white;
}

#titulo-cont-izq {
  color: white;
  margin-bottom: 1.5em;
}

#titulo-cont-der {
  color: white;
  margin-bottom: 1.5em;
}

.subtitulo {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: white;
}

.descripcion {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: white;
}

.contenedor-izquierda {
  background-color: rgba(33, 7, 30, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: auto;
  padding: 20px;
  border-radius: 20px;
}

.rectangulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.item {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}
.item img {
  max-height: 8rem;
}

.item:hover {
  transform: scale(1.1);
}

.item h4, p, h2 {
  color: white;
}

.contenedor-derecha {
  background-color: rgba(33, 7, 30, 0.6);
  width: 65%;
  border-radius: 0.5em;
  padding: 20px;
}

.pagar {
  margin-top: 1em;
  text-align: left;
}

.pagar h3 {
  margin-bottom: 0.5em;
  color: white;
}

#icono-lp {
  font-size: 5em;
}

.coaching-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  text-align: center;
  background-image: url(../imagenes/reyna.png);
  background-size: cover;
  background-position: 45% 0%;
  width: auto;
  border-radius: 3em;
}

.titulo-coach {
  font-size: 2.5rem;
  color: white;
}

#titulo-cont-izq-coach {
  color: white;
  margin-bottom: 1.5em;
}

#titulo-cont-der-coach {
  color: white;
  margin-bottom: 1.5em;
}

.subtitulo-coach {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: white;
}

.descripcion-coach {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: white;
}

.contenedor-izquierda-coach {
  background-color: rgba(33, 7, 30, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: auto;
  padding: 20px;
  border-radius: 20px;
}

.contenedor-derecha-coach {
  padding: 20px;
  background-color: rgba(33, 7, 30, 0.6);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 65%;
}

.rango-coach {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.rango-coach img {
  max-width: 70px;
  max-height: 70px;
  margin-right: 1rem;
}

.rectangulo-coach {
  flex: 1;
  width: 250px;
  height: 60px;
  background-color: rgba(55, 7, 49, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 7px;
  transition: transform 0.3s ease;
}

.rectangulo-coach:hover {
  transform: scale(1.1);
}

.rectangulo-coach p {
  margin: 0;
}

.checkboxes {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.checkboxes div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.checkboxes input[type=checkbox] {
  margin: 0 0.5rem;
}

.contenido-pago-coach {
  margin-top: 2rem;
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.contenido-pago-coach h3 {
  color: white;
}

.checkboxes label {
  color: white;
}

.sobre-nosotros-main {
  background-image: url(../imagenes/1309059.jpg);
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.sobre-nosotros-main .cuadrado {
  width: 90%;
  height: 70%;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.sobre-nosotros-main .cuadrado h3 {
  display: flex;
  font-size: 70px;
  z-index: 1;
  justify-content: center;
  color: white;
  padding-bottom: 20px;
}
.sobre-nosotros-main .cuadrado p {
  font-size: 23px;
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
  font-weight: bolder;
}

@media (max-width: 576px) {
  header {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .checkbtn {
    display: block;
    margin-top: 25px;
    margin-left: 15px;
  }
  nav {
    margin: 0;
    padding: 0;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/mapavalorant.jpg);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 10;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover, nav ul li a.active {
    background: none;
    color: red;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .enlace {
    position: absolute;
    padding: 20px 50px;
    display: flex;
  }
  .cuerpo-elegirnos {
    flex-wrap: wrap;
  }
  .item-elegirnos {
    flex-basis: 45%;
    margin-bottom: 20px;
  }
  .sobre-nosotros {
    height: auto;
  }
  .sobre-nosotros h1 {
    font-size: 35px;
  }
  .sobre-nosotros h2 {
    font-size: 20px;
    color: #fff;
    text-align: start;
  }
  .sobre-nosotros h4 {
    margin-top: 10px;
    font-size: 13px;
  }
  .eloboost-main {
    background-size: cover;
    background-position: 47% 5%;
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .eloboost-main h1 {
    font-size: 34px;
  }
  .eloboost-main h2 {
    font-size: 20px;
  }
  .eloboost-main h3 {
    font-size: 20px;
  }
  .eloboost-main h4 {
    font-size: 23px;
    margin: 10px;
  }
  .eloboost-main p {
    font-size: 17px;
  }
  .eloboost-main .item img {
    max-height: 100px;
    justify-self: center;
    justify-content: center;
  }
  .eloboost-main .contenedor-derecha {
    width: 100%;
  }
  .eloboost-main .contenedor-derecha h3 {
    font-size: 18px;
  }
  .coaching-main {
    background-position: 63% 5%;
  }
  .coaching-main h1 {
    font-size: 34px;
  }
  .coaching-main h2 {
    font-size: 20px;
  }
  .coaching-main h3 {
    font-size: 20px;
  }
  .coaching-main .rectangulo-coach {
    padding: 10px;
  }
  .coaching-main .contenedor-derecha-coach {
    width: 100%;
  }
  .coaching-main .contenedor-derecha-coach h3 {
    font-size: 15px;
  }
  .sobre-nosotros-main {
    width: 100%;
    height: 800px;
    border-radius: 20px;
    background-position: 34% 0%;
  }
  .sobre-nosotros-main .cuadrado {
    width: 80% !important;
    height: auto !important;
  }
  .sobre-nosotros-main .cuadrado p {
    font-size: 15px !important;
    margin: 10px;
  }
  .sobre-nosotros-main .cuadrado h3 {
    font-size: 24px;
  }
  .contacto-main {
    background-position: 25% 20%;
  }
}

/*# sourceMappingURL=app.css.map */
