.coaching-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    text-align: center; 
    background-image: url(../imagenes/reyna.png);
    background-size: cover;
    background-position: 45% 0%;
    width: auto;
    border-radius: 3em;
    
}

.titulo-coach {
  font-size: 2.5rem;
  color: white;
}
#titulo-cont-izq-coach{
  color: white;
  margin-bottom: 1.5em;
}
#titulo-cont-der-coach{
  color: white;
  margin-bottom: 1.5em;
}
.subtitulo-coach {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: white;
}

.descripcion-coach {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: white;
}
.contenedor-izquierda-coach {
  
  background-color: rgba(33, 7, 30, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: auto;
  padding: 20px;
  border-radius: 20px;
}
.contenedor-derecha-coach {
  padding: 20px;
  background-color: rgba(33, 7, 30, 0.6); 
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 65%;
}

.rango-coach {
  display: flex;
  align-items: center;
  margin-top: 1rem; 
}

.rango-coach img{
max-width: 70px;
max-height: 70px;
margin-right: 1rem;
}
.rectangulo-coach {
  flex: 1;
  width: 250px;
  height: 60px;
  background-color: rgba(55, 7, 49, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 7px;
  transition: transform 0.3s ease;
}
.rectangulo-coach:hover{
  transform: scale(1.1);
}
.rectangulo-coach p{
  margin: 0;
}
.checkboxes {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
.checkboxes div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}
.checkboxes input[type="checkbox"] {
  margin: 0 0.5rem;
}
.contenido-pago-coach {
  margin-top: 2rem;
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.contenido-pago-coach h3{
  color: white;
}
.checkboxes label{
  color: white;
}
