.eloboost-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    text-align: center; 
    background-image: url(../imagenes/omen.png.jpg);
    background-position: 34% 5%;
    width: auto;
    border-radius: 3em;
}

.titulo {
  font-size: 2.5rem;
  color: white;
}
#titulo-cont-izq{
  color: white;
  margin-bottom: 1.5em;
}
#titulo-cont-der{
  color: white;
  margin-bottom: 1.5em;
}
.subtitulo {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: white;
}

.descripcion {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: white;
}

.contenedor-izquierda {
  background-color: rgba(33, 7, 30, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: auto;
  padding: 20px;
  border-radius: 20px;
}

.rectangulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.item {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  img{
    max-height: 8rem;
  }
  transition: transform 0.3s ease;
}

.item:hover{
  transform: scale(1.1);
}


.item h4,p,h2{
  color: white;
}

.contenedor-derecha {
  background-color: rgba(33, 7, 30, 0.6);
  width: 65%;
  border-radius: 0.5em;
  padding: 20px;
}


.pagar {
  margin-top: 1em;
  text-align: left;
}

.pagar h3{
  margin-bottom: 0.5em;
  color: white;
}


#icono-lp{
  font-size: 5em;
}